@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 1000px;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
    transition: 0.6s;
}

header.sticky {
    padding: 5px 100px;
    background: #fff;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 2px;
    transition: 0.6s ease;
    white-space: nowrap;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 300;
    transition: 0.6s;
    white-space: nowrap;
}

header.sticky .logo,
header.sticky ul li a {
    color: #000;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url("./images/coverBG");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h2 {
    color: #fff;
    letter-spacing: 3px;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    line-height: 1.3em;
}

.banner h2 span {
    color: #4978ff;
    font-size: 55px;
}

.sec {
    background: #fff;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec .content {

    position: relative;
    text-align: center;
    width: 100%;
}

.mxw800p {
    max-width: 800px;
    margin: 0 auto;
}



h3 {
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;
}

p {
    position: relative;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.btn {
    position: relative;
    letter-spacing: 3px;
    display: inline-block;
    padding: 10px 30px;
    background: #000;
    text-decoration: none;
    color: #fff;
}

/* .skillsTop {
    padding: 250px;

} */

.skills {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
}

.skills .box {

    min-width: 300px;
    margin: 0 auto;
    background: rgb(245, 245, 240);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .05);
}

.skills .box .iconBx {
    display: flex;
    margin-top: 25px;

}

.skills .box .iconBx i {
    max-width: 70px;
    margin: 0 auto 25px auto;
}

.skills .box h2 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 700;
}

/* .photos {
    background: #000000;
    padding-top: 250px;
    margin-top: -250px;

}

.photos h3 {
    color: #fff;
}

.photoBox {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(248px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
    margin-top: 40px;
}

.photoBox h2 {
    color: #fff;
}


.photoBox .box {
    display: flex;
    max-width: 250px;
}

.photoBox img {
    background-image: cover;
    overflow: hidden;
    align-items: center;
} */

.work {
    background: #000;
    padding: 250px;
    margin: -250px;
}

.workBx {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;

}

.work h3,
.work p {
    color: #fff;
}

.workBx .brand {
    position: relative;
    background: #4978ff;

    width: 250px;
    min-height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workBx .brand:hover {
    background: #000;
}

.workBx .brand a {

    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
    letter-spacing: 2px;
}

.workBx .brand:hover a {
    color: rgba(255, 255, 2550.4);
}

.photoBx {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
}

.photoBx .photo {
    position: relative;
    background: #000;
    min-height: 300px;
    width: 250px;
    margin: 0 auto;
    display: flex;

    justify-content: center;
    align-items: center;
}

.photoBx .photo .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.photoBx .photo .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photoBx .photo .detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    transition: 0.2s;
    opacity: 0;
}

.photoBx .photo:hover .detail {
    opacity: 1;
}

.photoBx .photo .detail h2 {
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
}

.contact {
    background: #000;
}

.contact h3,
.contact p {
    color: #fff;
}

/* .contactForm {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}

.contactForm form {
    width: 100%;
}

.contactForm .row100 {
    display: flex;
    width: 100%;
}

.contactForm .row100 .inputBx50 {
    width: 50%;
    margin: 0 20px;
}

.contactForm .row100 .inputBx100 {
    width: 100%;
    margin: 0 20px;
}

.contactForm .row100 input,
.contactForm .row100 textarea {
    position: relative;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    background: transparent;
    width: 100%;
    padding: 10px 0;
    outline: none;
    font-size: 18px;
    font-weight: 300;
    margin: 20px 0;
    resize: none;
}

.contactForm .row100 textarea {
    height: 100px;
}

.contactForm .row100 input::placeholder,
.contactForm .row100 textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.contactForm .row100 input[type="submit"] {
    background: #fff;
    color: #000;
    max-width: 100px;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 500;
} */

.sci {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.sci ul {
    display: flex;
}

.sci ul li {

    list-style: none;
}

.sci ul li a {
    text-decoration: none;
    display: inline-block;
    margin: 0 30px;
    color: #fff;
}

.sci ul li a i {
    max-width: 40px;
}

.sci ul li a:hover i {
    opacity: 0.5;
}

.copyright {
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
}

.copyright a {
    color: #fff;
}

.toggle {
    display: none;
}

@media(max-width:992px) {
    .toggle {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .toggle:before {
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        box-shadow: 0 10px 0 #000;
        transition: 0.5s;
    }

    .toggle:after {
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;

        transition: 0.5s;
    }


    header,
    header.sticky {
        padding: 15px 50px;
        background: #fff;
    }

    header ul {
        position: absolute;
        top: 59px;
        left: 0;
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: auto;
        background: #fff;
        visibility: hidden;
        opacity: 0;
    }

    header.active ul {
        visibility: visible;
        opacity: 1;
        display: block;
        padding-top: 20px;
    }

    header.active ul li a {
        display: inline-block;
        margin: 10px 0;
        font-size: 20px;
    }

    header .logo,
    header ul li a {
        color: #000;
    }

    .banner {
        background-position: center;
    }

    .banner h2 {
        font-size: 60px;
        padding: 0 50px;
    }

    .sec {
        padding: 100px 50px 50px 50px;
    }


    .skills .box {
        width: 100%;
    }

    .work {
        padding-top: 250px;
    }

    .workBx .brand {
        height: 250px;
        width: 100%;
    }

    .photoBx .photo {
        height: 450px;
        width: 100%;
    }
}